//container heights

$header-height: 5.3125rem;
$header-height-mobile: 4.25rem;
$buttons-mobile-container-height: 3.125rem;

//colors
$primary-clr: #ffffff;
$secondary-clr: #838391;

$bg-clr: #070724;
$hover-clr: #313148;

$mercury-clr: #419ebb;
$venus-clr: #eda249;
$earth-clr: #6f2ed6;
$mars-clr: #d14c32;
$jupiter-clr: #d83a34;
$saturn-clr: #cd5120;
$uranus-clr: #1ec2a4;
$neptune-clr: #2d68f0;

//font sizes

$fs-xl: 5rem; //80xp
$fs-l: 2.5rem; //40px
$fs-m: 1.5rem; //24px
$fs-s: 0.875rem; //14px
$fs-xs: 0.6875rem; //11px
